header{
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

main{
	margin: 60px 25px 0px 25px;
}

h4{
	text-align: center;
}

footer{
	margin-bottom: 50px;
}
.About img{
	float: left;
	display: inline-block;
	width: 25%;
	height: 25%;
	padding-right: 25px;
}

.Project{
	clear: both;
}

.Interest img{
	width: 200px;
	height: 200px;
}

footer img{
	width: 75px;
	height: 75px;
}