main{
	margin: 0px 25px 0px 25px;
}

h4{
	text-align: center;
}

footer{
	margin-bottom: 50px;
}

.About {
	padding-top: 60px;
}

.About img{
	float: left;
	display: inline-block;
	width: 20%;
	height: 20%;
	padding-right: 25px;
}

.Project{
	padding-top: 60px;
	clear: both;
}

.Interest{
	padding-top: 60px;
}

.Interest img{
	width: 200px;
	height: 200px;
}

footer {
	padding-top: 60px;
}

footer img{
	width: 75px;
	height: 75px;
}